@import '~@angular/material/theming';
@include mat-core();

@import './main-palet.scss';
@import '../animations.scss';

//@import '../../app/app.component.scss';

@mixin custom-theme($theme, $bodyBG, $BG, $Borders) {
	@include angular-material-theme($theme);
	//@include app-root-theme($theme, $bodyBG);
}

$main-color-primary: mat-palette($main-color-palet, 800);
$main-color-accent: mat-palette($main-color-palet, 100);
$main-color-warn: mat-palette($main-color-palet-warn, 800);
$main-color-theme: mat-light-theme($main-color-primary, $main-color-accent, $main-color-warn);

.main-theme {
	@include custom-theme($main-color-theme, #eaeaea, white, #d0d0d0);
	.txtCol {
		@include transition-3();
		color: rgb(49, 49, 49);
	}
	.txtColInverse {
		@include transition-3();
		color: rgb(202, 202, 202);
		@include transition-3();
	}
	.bgCol {
		@include transition-3();
		background: rgb(255, 255, 255);
	}
	.bgColInverse {
		@include transition-3();
		background: rgb(49, 49, 49);
	}
}
