<div class="container align-center">

   <div class="row" >
      <span id="profile-name" class="text-secondary nombre"><strong>Proceso automático de transferencias</strong></span>
      <br>

      <div class="mx-2 my-1 centrado-vertical" >
         <mat-slide-toggle><span class="profile-name-card text-secondary">Autorizar transferencias recibidas</span></mat-slide-toggle>
      </div>
      <div class="mx-2 my-1 centrado-vertical" >
         <mat-slide-toggle><span class="profile-name-card text-secondary">Autorizar transferencias emitidas</span></mat-slide-toggle>
      </div>

   </div>

</div>
