.alert-dialog {
	h1 {
		font-size: 18px;
		color: black;
		font-weight: 700;
		border-bottom: 2px solid #aeaeae;
		padding: 0px 10px 5px 10px;
	}
}
.mat-dialog-content {
	padding: 20px 30px 10px 30px;
}
