
.profile-img-card {
   width: 50px;
   height: 50px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   margin: 0 auto; /* requerido para alineación horizontal */
}

.profile-img-status {
   width: 58px;
   height: 58px;
   background-color: #689F38;
   margin: 0 auto 10px;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   display: flex;
   align-items: center;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}