<div class="row">
   <div class="col-sm-6">
      <div class="tags">
         {{instruccion.tipoDato}}
         {{instruccion.tag}}
      </div>
      <mat-form-field>
         <mat-label>{{instruccion.nombre}}</mat-label>
         <input matInput [matDatepicker]="dp" [formControl]="perv" [min]="minDate" [max]="maxDate" #input (dateInput)="EnviarValor($event.target.value)" [required]="requerido">
         <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
         <mat-datepicker #dp
                         startView="multi-year"
                         (yearSelected)="chosenYearHandler($event)"
                         (monthSelected)="chosenMonthHandler($event, dp)"
                         panelClass="example-month-picker">
         </mat-datepicker>
         <mat-error *ngIf="perv.hasError('required')">
            El {{instruccion.nombre}} es un dato <strong>obligatorio</strong>
         </mat-error>
         <mat-error *ngIf="perv.hasError('minlength')">
            El campo no cumple con la cantidad mínima de {{instruccion.longitudMinima}} caracteres
         </mat-error>
         <mat-error *ngIf="perv.hasError('maxlength')">
            El campo no cumple con la cantidad máxima de {{instruccion.longitudMaxima}} caracteres
         </mat-error>
      </mat-form-field>
   </div>
</div>