<div class="contenedor">
   <div class="row">
      <div class="col-sm-6">
         <mat-form-field class="row-item grow ">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>

      <div class="col-sm-6 text-right">
            <div class="btn-group" role="group">
               <button id="btnExportar" type="button" class="btn btn-sm btn-volver mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-download mr-2"></i>Exportar</button>
               <div class="dropdown-menu" aria-labelledby="btnExportar">
                  <a class="dropdown-item" (click)="generatePdf()"><i class="fa fa-file-pdf mr-2"></i>PDF</a>
               </div>
            </div>
            <button type="button" class="btn btn-valores btn-sm" [routerLink]="['/parametriandc/form']" *appIsGranted="1005">NUEVO PARAMETRO</button>
      </div>
   </div>

   <div class="mat-elevation-z2 table tabla-container">

      <table mat-table [dataSource]="dataSource" matSort>
         <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
         </ng-container>

         <ng-container matColumnDef="codigoMep">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo MEP</th>
            <td mat-cell *matCellDef="let row"> {{row.codigoMEP | uppercase}} </td>
         </ng-container>

         <ng-container matColumnDef="tipoCuenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Cuenta </th>
            <td mat-cell *matCellDef="let row"> {{row.tipoCuenta | uppercase}} </td>
         </ng-container>

         <ng-container matColumnDef="movimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Movimiento </th>
            <td mat-cell *matCellDef="let row"> {{(row.movimiento=="C"?"CREDITO":"DEBITO") | uppercase}} </td>
         </ng-container>

         <ng-container matColumnDef="moneda">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Moneda </th>
            <td mat-cell *matCellDef="let row"> {{row.moneda}} </td>
         </ng-container>

         <ng-container matColumnDef="causa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Causa </th>
            <td mat-cell *matCellDef="let row"> {{row.causa}} </td>
         </ng-container>

         <ng-container matColumnDef="mismoBenefOrd">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mismo Benef. Ordenante </th>
            <td mat-cell *matCellDef="let row"> {{row.mismoOrdenanteBeneficiario? 'SI': 'NO'}} </td>
         </ng-container>

         <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
         </ng-container>

         <ng-container matColumnDef="usuarioAlta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Alta </th>
            <td mat-cell *matCellDef="let row"> {{row.usuarioAlta}} </td>
         </ng-container>

         <ng-container matColumnDef="fechaAlta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Alta </th>
            <td mat-cell *matCellDef="let row"> {{row.fechaAlta |date:'short'}} </td>
         </ng-container>

         <ng-container matColumnDef="usuarioModificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Modifica </th>
            <td mat-cell *matCellDef="let row"> {{row.usuarioModificacion}} </td>
         </ng-container>

         <ng-container matColumnDef="fechaModificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Modifica </th>
            <td mat-cell *matCellDef="let row"> {{row.fechaModificacion |date:'short'}} </td>
         </ng-container>

         <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let row">
               <span class="mr-2" (click)="Editar(row)" data-toggle="tooltip" data-placement="bottom" title="Editar" *appIsGranted="1006">
                  <i class="fa fa-pencil-alt modify"></i>
               </span>
               <span class="mx-2" (click)="Eliminar(row)" data-toggle="tooltip" data-placement="bottom" title="Eliminar" *appIsGranted="1007">
                  <i class="fa fa-trash borrar"></i>
               </span>
            </td>
         </ng-container>

         <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
   </div>
</div>
