<div id="abm" class="gen-content-container">

	<app-page-header subtitle="Seed App" title="ABM">

		<section>
			<div class="example-button-row">
				<div class="example-flex-container">
					<div class="example-button-container">
						<button class="customBtn" mat-mini-fab color="primary" matTooltip="Nuevo registro">
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</section>

	</app-page-header>

	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<span>ABM</span>
		</mat-toolbar-row>
	</mat-toolbar>



</div>