<nav  class="navbar sticky-top centrado-vertical barra border-bottom box-shadow">
   <div class="col-xs-1 align-left">
      <span class="btn notificacion-icon" (click)="toggle()"><i class="fa fa-bars"></i></span>
   </div>

   <div class="col-sm " style="align-center; max-width: 250px;">
      <div class="imagenLogo barralogo"></div>
   </div>

   <div class="col-xs-2 align-right">
      <app-notificacion style="float: right;"></app-notificacion>
   </div>
</nav>
<!--div class="row linea-roja"></div-->