.app_loading {
	z-index: 900;
	position: fixed;
	top: 0px;
	width: 100%;
	height: auto;
	background: white;
	.mat-progress-bar {
		border-radius: 0px !important;
		height: 5px !important;
	}
	.mat-progress-bar-buffer {
		background-color: white !important;
	}
}
